{% extends 'base.html' %}
{% block title %}
Home
{% endblock title%}
{% block content %}
    <div class="index">
        <h2>daily mission</h2>
        <p><a href="{{ url_for('.view_log')}}">view log</a></p>
        {% if missions %}
        <section>
        <div>今日任务数{{missions|length}}个，需要用时 {{total_time}}小时</div>
        <form action="{{ url_for('.index')}}" method="post" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            {% for mission in missions %}
        <table>
            <tr>
                <th colspan="2">{{mission.name}} {{ moment(mission.start_at).format('L') }}-{{ moment(mission.end_at).format('L') }}
                    {% if mission.end_at >= now %}
                        <span class="normal">正常</span>
                    {% else %}
                        <span class="danger">逾期</span>
                    {% endif %}
                    <input type="text" hidden name="id[]" value="{{mission.id}}">
                </th>
            </tr>
            <tr>
                <th>任务数(总/已完成)</th>
                <td>{{mission.total_missions}}/{{mission.completed_missions}}</td>
            </tr>
            <tr>
                <th>用时(总/已用)</th>
                <td>{{mission.total_hours}}/{{mission.total_used_hours}}</td>
            </tr>
            <tr>
                <th>每天任务数(计划/实际)</th>
                <td>{{mission.daily_missions}} / <input type="text" value="{{mission.daily_missions}}" name="day_completed_mission[]"> {{ mission.unit }}</td>
            </tr>
            <tr>
                <th>用时(计划/实际)</th>
                <td>{{mission.daily_hours}} / <input type="text" value="{{mission.daily_hours}}" name="day_used_hour[]">小时</td>
            </tr>
        </table>
{% endfor %}
            <div class="wrap-btn">
                <button type="submit" class="btn btn-primary btn-sm">submit</button>
            </div>

        </form>

    </section>
        {% else %}
            <p>暂时还没计划任务</p>
        {% endif %}
    </div>
{% endblock %}