{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Manage Plans{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Plans
            <small class="text-muted">{{ plans|length }}</small>
            <span class="float-right"><a class="btn btn-primary btn-sm"
                                         href="{{ url_for('.new_plan') }}">New Plan</a></span>
        </h1>
    </div>
    {% if plans %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Missions</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for plan in plans %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <a href="{{ url_for('mission.show_plan', plan_id=plan.id)}}">{{ plan.name }}</a>
                    </td>
                    <td>{{ plan.missions|length }}</td>
                    <td>
                        <a class="btn btn-info btn-sm"
                               href="{{ url_for('.edit_plan', plan_id=plan.id)}}">Edit</a>

                            <form class="inline" method="post"
                                  action="{{ url_for('.delete_plan', plan_id=plan.id)}}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <button type="submit" class="btn btn-danger btn-sm"
                                        onclick="return confirm('Are you sure?');">Delete
                                </button>
                            </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p class="text-muted">Tips: Deleting a plan does not delete the article under that plan.
            The articles under this plan will be moved to the default plan.</p>
    {% else %}
        <div class="tip"><h5>No plans.</h5></div>
    {% endif %}
{% endblock %}
