{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Manage Missions{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Missions
        <small class="text-muted">{{ missions|length }}</small>
        <span class="float-right"><a class="btn btn-primary btn-sm"
                                     href="{{ url_for('.new_mission') }}">New Mission</a></span>
    </h1>
</div>
{% if missions %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Belong Plan</th>
        <th>Unit</th>
        <th>Total missions</th>
        <th>Start at</th>
        <th>End at</th>
        <th>Daily hours</th>
        <th>Actions</th>
    </tr>
    </thead>
    {% for mission in missions %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>
            <a href="">{{ mission.name }}</a>
        </td>
        <td>{{ mission.plan.name}}</td>
        <td>{{ mission.unit }}</td>
        <td>{{ mission.total_missions }}</td>
        <td>{{ moment(mission.start_at).format('LL') }}</td>
        <td>{{ moment(mission.end_at).format('LL') }}</td>
        <td>{{ mission.daily_hours }}</td>
        <td>
            <a class="btn btn-info btn-sm"
               href="{{ url_for('.edit_mission', mission_id=mission.id)}}">Edit</a>

            <form class="inline" method="post"
                  action="{{ url_for('.delete_mission', mission_id=mission.id)}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure?');">Delete
                </button>
            </form>
            {% if mission.is_completed == 0 %}
            <form class="inline" method="post"
                  action="{{ url_for('.complete_mission', mission_id=mission.id)}}">
                <button class="btn btn-sm btn-primary">Completed</button>
            </form>
            {% else %}
            <span>Completed</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<p class="text-muted">Tips: Deleting a mission does not delete the article under that mission.
    The articles under this mission will be moved to the default mission.</p>
{% else %}
<div class="tip"><h5>No missions.</h5></div>
{% endif %}
{% endblock %}
