{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Manage Missions{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Missions
        <small class="text-muted">{{ missions|length }}</small>
        <span class="float-right"><a class="btn btn-primary btn-sm"
                                     href="{{ url_for('.new_mission') }}">New Mission</a></span>
    </h1>
</div>
{% if missions %}
<table class="table table-striped manage-mission">
    <thead>
    <tr>
        <th>No.</th>
        <th>Unit</th>
        <th>Total missions</th>
        <th>Daily times</th>
        <th>Total times</th>
        <th>Used times</th>
        <th>Actions</th>
        <th>Status</th>
        <th>Show</th>
    </tr>
    </thead>
    {% for mission in missions %}
    <tr>
        <td colspan="11">
            <span class="mission-name">{{ mission.name }}</span>
            <span>&#8680 {{ mission.plan.name}}</span>
            <span class="float-right">
                {{ moment(mission.start_at).format('L') }} - {{ moment(mission.end_at).format('L') }}
            </span>
        </td>
    </tr>
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ mission.unit }}</td>
        <td>{{ mission.total_missions }}</td>
        <td>{{ mission.daily_times }}</td>
        <td>{{ mission.total_times }}</td>
        <td>{{ mission.total_used_times }}</td>
        <td>
            <a class="btn btn-info btn-sm"
               href="{{ url_for('.edit_mission', mission_id=mission.id)}}">Edit</a>

            <form class="inline" method="post"
                  action="{{ url_for('.delete_mission', mission_id=mission.id)}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure?');">Delete
                </button>
            </form>
        </td>
        <td class="text-center">
            {% if mission.is_completed == 1 %}
           <span class="normal completed">&#10084</span>
            {% elif mission.end_at < now %}
            <span class="danger">Overdue</span>
            {% else %}
            <span class="blue">Normal</span>
            {% endif %}
        </td>
        <td class="text-center">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="mission_id" value="{{ mission.id }}">
            <span>
                {% if mission.is_show %}
                <input type="checkbox" checked class="J_toggle_show">
                {% else %}
                <input type="checkbox" class="J_toggle_show">
                {% endif %}
            </span>

        </td>
    </tr>
    {% endfor %}
</table>
<div class="page-footer">{{ render_pagination(pagination) }}</div>
{% else %}
<div class="tip"><h5>No missions.</h5></div>
{% endif %}
{% endblock %}
{% block script %}
{{ super() }}
<script>
    $(function () {
        $(".J_toggle_show").on('change', function () {
            $.ajax('/admin/toggle_mission_show', {
                data: {
                    mission_id: $(this).parents('span').siblings('input[name="mission_id"]').val(),
                    is_show: $(this).prop("checked"),
                    csrf_token: $('input[name="csrf_token"]').val()
                },
                method: 'POST',
                dataType: 'json',
                success: function (res) {
                    console.log(res);
                },
                fail: function (res) {
                    console.log(res)
                }
            })
        })
    })
</script>
{% endblock %}