ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

.left{
  float: left;
}
.right{
  float: right;
}
.wraper{
  box-sizing: border-box;
  width: 1000px;
  padding:0 10px 30px;
  margin:0 auto;
}
.main{
  margin-top: 30px;
}
.inline{
  display: inline-block;
}
.index{
  th,td{
    padding:10px;
  }
  .wrap-btn{
    margin-top: 30px;
  }
}
.normal{
  color: rgb(146, 208, 80);
}
.danger{
  color: red;
}
.completed{
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  line-height: 1;
}
.blue{
  color: lightskyblue;
}
.deep-blue{
  color: deepskyblue;
}
.mission-name{
  font-weight: bold;
}
.manage-mission{
  td{
    input[type=checkbox]{
      width: 20px;
      height: 20px;
    }
  }
}
.index{
  td{
    input{
      width: 60px;
    }
  }
}
.mission-name{
  color: deepskyblue;
}