ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav{
  background: #3399ff;
  color: #ffffff;
  height:60px;
  .left,.right{

    a{
      display: inline-block;
    line-height:60px;
    }
  }
  &>a{
    display: inline-block;
    line-height:60px;
  }
  a{
    color: #ffffff;
  }
  .right{
    &>div{
      display: inline-block;
    }
    li{
      display: inline-block;
      padding: 0 5px;
    }
  }
}
.left{
  float: left;
}
.right{
  float: right;
}
.wraper{
  width: 1000px;
  margin:0 auto;
}
.main{
  margin-top: 30px;
}
.inline{
  display: inline-block;
}
.index{
  th,td{
    padding:10px;
  }
}