{% extends 'base.html' %}
{% block title %}
Home
{% endblock title%}
{% block content %}
    <div class="index">
        <h2>daily mission</h2>



    <section>
        <div>今日任务数12个，计划用时10小时</div>
        {% for mission in missions %}
        <table>
            <tr>
                <th colspan="2">{{mission.name}}</th>
            </tr>
            <tr>
                <th>已完成任务数</th>
                <td></td>
            </tr>
            <tr>
                <th>每天任务数(计划/实际)</th>
                <td>{{mission.daily_missions}} / <input type="text" value="{{mission.daily_missions}}">{{mission.unit}}</td>
            </tr>
            <tr>
                <th>用时(计划/实际)</th>
                <td>{{mission.daily_hours}} / <input type="text" value="{{mission.daily_hours}}">小时</td>
            </tr>
        </table>
{% endfor %}
    </section>
    </div>
{% endblock %}