:root{
  --font-family-sans-serif: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mainWidth:1000px;
  --navHeight:40px;
  --white:#ffffff;
  --radius:4px;
  --gray:#cdcdcd;
}
a{
  text-decoration: none;
}

.dangerous{
  color: red;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
button {
  display: inline-block;
  border: none;
  padding:10px 20px;
  border-radius: var(--radius);
  cursor: pointer;
}
.btn-sm{
}
select,input{
  border-radius: var(--radius);
  border: 1px solid var(--gray);
}
select{
  height: 30px;

}
input{
  height: 20px;
  padding:5px;

}
form{
  .form-item{
    margin-bottom: 10px;
  }
}